name: Events Demo 1
on: 
  workflow_dispatch: 
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Output event data
        uses: slackapi/slack-github-action@v2.1.1
        with:
          payload-delimiter: "_"
          webhook: ${{ secrets.TEST_CHANNEL_SLACK_WEBHOOK }}
          webhook-type: webhook-trigger
        
